  <section  id="susan" class="fdb-block pb-0 authors-single">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-10 col-sm-6 col-md-5 col-lg-4 m-auto pb-5 pb-md-0">
          <img alt="image" class="img-fluid wow fadeInLeft" src="/images/Susan.jpg" />
        </div>

        <div class="col-12 ml-md-auto col-md-7 col-lg-8 pb-5 pb-md-0">
         
          <h1 class="wow fadeInRight">Susan Goldberg</h1>
          
<div class="wow fadeInUp">
          <p>Susan Goldberg is the founder and CEO of Susan Goldberg Leadership Consulting. After graduating from Washington University in St. Louis with a BA and Pace University with a MBA in International Economics and Marketing, Susan began working as an independent marketing consultant. In 2001, she launched her first business, Susan Goldberg Executive Search Consulting, where she helped clients find and place the right leadership within their companies.</p>
          <p>PSE&G, GE, NBC, and Sprint PCS are just a few of the clients Susan has worked with over the years. Her extensive knowledge on emerging leadership, led her to co-author the book Leadership in Wonderland, a unique approach on how to become a more confident leader. Susan has been recognized for her excellence over the years in various publications including the Wall Street Journal and U.S. News & World Report. She is also the President Emeritus of the Executive Search Roundtable.</p>
          <p>After 25 years of hands-on experience coaching and placing talent, Susan decided to shift her focus to address today’s challenge of developing emerging leadership. In September of 2016, Susan launched her refocused business, Susan Goldberg Leadership Consulting—where she specializes in developing millennial talent. Susan offers a number of services from small group coaching sessions to speaking at board meetings and retreats. She ultimately offers all her clients peace of mind, a safety net, and protection for the future of their companies.</p>
          <p>Susan currently lives and works in New York with her collection of eyeglasses and her dog.</p>
          <div class="social-section  wow fadeInUp">
  
  <ul> <span>Follow me on</span>
    <li>
      <a href="https://www.facebook.com/Susan-Goldberg-Executive-Search-Consulting-204379969596361/" target="_blank" class="button small fb social-effect"><i class="fa fa-facebook"> </i></a>
    </li>
    <li>
      <a href="https://twitter.com/ShapesLeaders" target="_blank" class="button small twitter social-effect"><i class="fa fa-twitter"> </i></a>
    </li>

    <li>
      <a href="https://www.linkedin.com/company/susan-goldberg-leadership-consulting" target="_blank" class="button small linkedin social-effect"><i class="fa fa-linkedin"> </i></a>
    </li>
  </ul>
</div>
          <p><span class="badge badge-warning text-white">New</span> <b>Blog Mentions:</b> Susan in <a href="https://helenetstelian.com/susan-goldberg-empowering-young-professionals/" target="_blank"> Helene Stelians blog</a></p>
          <p> <b>Susan Goldberg Talks To "Talking Alternative Broadcasting":</b> <a href="https://www.youtube.com/embed/0M3dfIro6hE" target="_blank"> Listen to her here</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>

   <section id="rebecca" class="fdb-block pb-5 authors-single">
    <div class="container">
      <div class="row align-items-center">
        
        <div class="col-12 ml-md-auto col-md-7 col-lg-8 pb-5 ">
         
          <h1 class="wow fadeInLeft">Rebecca Lacy</h1>
         
<div class="wow fadeInUp">
          <p >Her company, Pinnacle Management Group, has been providing training, coaching and consultation in the areas of leadership and employee engagement since 1997. Clients have included government agencies such as the U.S. Army, international corporations, not-for-profits, and a myriad of small to mid-sized businesses in fields as diverse as dentistry and manufacturing.</p>
          <p>Rebecca’s intuitive ability to assess her clients’ needs has allowed her to deliver strategies that helps them achieve their goals by providing the tools necessary to make teams more nimble and results oriented.</p>
          <p>Before starting her company, Rebecca was Manager of Supplier Diversity at Boeing (McDonnell Douglas). In that capacity, she was responsible for helping small businesses navigate the complexities of working with a behemoth government contractor in order to gain market share. She was also the central point of contact for Native American businesses and was invited to the White House to be recognized for her efforts in that area.</p>
          <p>Rebecca earned her MBA from Western International University in Phoenix, Arizona. She is active in the arts, and is an internationally syndicated columnist for Women’s Voices Magazine. She lives outside St. Louis with her husband, Larry, (who is also her business partner), and their menagerie.</p>
          <p>Rebecca Lacy has spent her career assisting individuals and organizations achieve new levels of success. She co-founded her company with the aim to help create environments where people enjoy working after having studied thousands of companies and what made the difference between those that thrived and others that merely survived.

</p>
          <div class="social-section wow fadeInUp">
  
  <ul> <span>Follow me on</span>
    <li>
      <a href="https://www.facebook.com/Pinnacle.Management.Group/" target="_blank" class="button small fb social-effect"><i class="fa fa-facebook"> </i></a>
    </li>
    <li>
      <a href="http://www.womensvoicesmagazine.com/impact-section/extraordinary-ordinary-women/" target="_blank" class="button small twitter social-effect"><i class="fa fa-twitter"> </i></a>
    </li>

    <li>
      <a href="https://www.linkedin.com/in/rebeccalacy" target="_blank" class="button small linkedin social-effect"><i class="fa fa-linkedin"> </i></a>
    </li>
  </ul>
</div>
          
        </div>
        </div>
        <div class="col-10 col-sm-6 col-md-5 col-lg-4 m-auto pb-5 pb-md-0 text-right">
          <img alt="image" class="img-fluid wow fadeInRight" src="/images/Rebecca.jpg" />
        </div>

      </div>
    </div>
  </section>
