<div id="carouselExampleIndicators" class="carousel slide carousel-fade bg-gray-10" data-ride="carousel" data-interval="5000">
  <!-- <ol class="carousel-indicators">
    <li class="active alice" data-target="#carouselExampleIndicators" data-slide-to="0" > </li>
    <li class="penguin" data-target="#carouselExampleIndicators" data-slide-to="1"> </li>
    <li class="beaver" data-target="#carouselExampleIndicators" data-slide-to="2"> </li>
    <li class="caterpillar" data-target="#carouselExampleIndicators" data-slide-to="3"> </li>
    <li  data-target="#carouselExampleIndicators" data-slide-to="4"> </li>
    <li  data-target="#carouselExampleIndicators" data-slide-to="5"> </li>
    <li  data-target="#carouselExampleIndicators" data-slide-to="6"> </li>
    <li  data-target="#carouselExampleIndicators" data-slide-to="7"> </li>
    <li  data-target="#carouselExampleIndicators" data-slide-to="8"> </li>
    <li  data-target="#carouselExampleIndicators" data-slide-to="9"> </li>
    <li  data-target="#carouselExampleIndicators" data-slide-to="10"> </li>
    <li  data-target="#carouselExampleIndicators" data-slide-to="11"> </li>
    <li  data-target="#carouselExampleIndicators" data-slide-to="12"> </li>
    
  </ol> -->
  <div class="carousel-inner">
    <div class="carousel-item active">
    
     	<section class="fdb-block authors bg-gray-10">

    <div class="container">
       <!-- <h1 class="text-center">Authors</h1> -->
      <div class="row mt-5 wow flipInX">
        <div class=" col-lg-8 col-md-12 mx-auto ">
          <div class="fdb-box fdb-touch ">
          <div class="row">
          	<div class="col-md-4">
          		  <img class="round-2p img-fluid" alt="image"  src="/images/characters/alice.jpg" />
          	</div>
          	<div class="col-md-8 mt-3">
          		 <h4>ALICE LIDDELL</h4>
            
            <p>She is the founder and CEO of Leaves-of-Wonderland. A bit of a petulant child when we first meet her, but she learns some valuable lessons that help her grow and mature into a more confident leader..</p>
            <!-- <h6>ALICE IN REAL LIFE</h6>
            <p>A leader, who lost her way and realizes it. She has not kept her eye on the business. She understands if she wants to save her organization, she needs to change and grow, and take risks, at the same time as the company needs to do the same. She needs to prove herself to herself and to the company to be able to become a credible leader once more. A good delegator, perhaps even too much so. Likes it when others are self-motivated.</p> -->
           
          	</div>
          </div>
           
          </div>
        </div>

       
       
      </div>
    </div>
  </section>
   
    </div>
    <div class="carousel-item">
       	<section class="fdb-block authors bg-gray-10">

    <div class="container">
       <!-- <h1 class="text-center">Authors</h1> -->
      <div class="row mt-5">
        <div class=" col-lg-8 col-md-12 mx-auto ">
          <div class="fdb-box fdb-touch ">
          <div class="row">
          	<div class="col-md-4">
          		  <img class="round-2p img-fluid" alt="image"  src="/images/characters/penguin.jpg" />
          	</div>
          	<div class="col-md-8 mt-3">
          		 <h4>PENGUIN</h4>
            
            <p>He is the diminutive, loyal assistant to Alice. He is the character she depends upon the most, and is the one who believes in her and remains at her side, even when the path is bumpy.</p>
            <!-- <h6>PENGUINS IN REAL LIFE</h6>
            <p>loyal assistant, much more intelligent and skilled than their position might indicate. Likes to serve and help. Sometimes the brains behind the throne.</p> -->
           
          	</div>
          </div>
           
          </div>
        </div>

       
       
      </div>
    </div>
  </section>
    </div>
    <div class="carousel-item">
      <section class="fdb-block authors bg-gray-10">

    <div class="container">
       <!-- <h1 class="text-center">Authors</h1> -->
      <div class="row mt-5">
        <div class=" col-lg-8 col-md-12 mx-auto ">
          <div class="fdb-box fdb-touch ">
          <div class="row">
          	<div class="col-md-4">
          		  <img class="round-2p img-fluid" alt="image"  src="/images/characters/BEAVER.jpg" />
          	</div>
          	<div class="col-md-8 mt-3">
          		 <h4>BEAVER</h4>
            
            <p>Alice stumbles upon him as he is busy building a dam. At first, she has conflicting feelings about him in that she is both annoyed with him and in awe of his ability. His way of asking just the right questions to get Alice to think more clearly results in him becoming one of her primary allies and unofficial mentor.</p>
            <!-- <h6>BEAVERS IN REAL LIFE</h6>
            <p>mentor who gets results through asking the right questions not through telling mentee what to do. (The perfect coach, not unlike…well you know).</p> -->
           
          	</div>
          </div>
           
          </div>
        </div>

       
       
      </div>
    </div>
  </section>
    </div><div class="carousel-item">
     <section class="fdb-block authors bg-gray-10">

    <div class="container">
       <!-- <h1 class="text-center">Authors</h1> -->
      <div class="row mt-5">
        <div class=" col-lg-8 col-md-12 mx-auto ">
          <div class="fdb-box fdb-touch ">
          <div class="row">
          	<div class="col-md-4">
          		  <img class="round-2p img-fluid" alt="image"  src="/images/characters/CATERPILLAR.png" />
          	</div>
          	<div class="col-md-8 mt-3">
          		 <h4>CATERPILLAR</h4>
            
            <p>He is a former employee of the tea company who has returned as a (sometime) consultant. Through the smoke from his hookah, on his usual toadstool perch, viewing the events from the perspective of a well-informed and experienced outsider, he has an unobstructed view of what is happening within the company. He warns Alice that she is at risk of losing everything unless she changes. Can this consultant really be able to see things more clearly than Alice can?</p>
            <!-- <h6>CATERPILLARS IN REAL LIFE</h6>
            <p>intuitive, insightful, unbiased outside consultant. Brainy with good ideas (you know, like Susan and Rebecca!)</p> -->
           
          	</div>
          </div>
           
          </div>
        </div>

       
       
      </div>
    </div>
  </section>
    </div><div class="carousel-item">
        <section class="fdb-block authors bg-gray-10">

    <div class="container">
       <!-- <h1 class="text-center">Authors</h1> -->
      <div class="row mt-5">
        <div class=" col-lg-8 col-md-12 mx-auto ">
          <div class="fdb-box fdb-touch ">
          <div class="row">
          	<div class="col-md-4">
          		  <img class="round-2p img-fluid" alt="image"  src="/images/characters/cat.png" />
          	</div>
          	<div class="col-md-8 mt-3">
          		 <h4>CHESHIRE CAT</h4>
            
            <p>As a company employee with questionable loyalties, he plays an important role for Alice because he has eyes and ears everywhere. He, like Caterpillar, warns her that there is treachery afoot, and unless she takes action, the company will be lost.</p>
            <!-- <h6>CHESHIRE CATS IN REAL LIFE</h6>
            <p>rumor spreader, gossip, who appears and disappears quickly. You never know what he overhears because he’s as quiet as a mouse. He makes everyone feel more paranoid if an organization already breeds paranoia.</p> -->
           
          	</div>
          </div>
           
          </div>
        </div>

       
       
      </div>
    </div>
  </section>
    </div><div class="carousel-item">
     <section class="fdb-block authors bg-gray-10">

    <div class="container">
       <!-- <h1 class="text-center">Authors</h1> -->
      <div class="row mt-5">
        <div class=" col-lg-8 col-md-12 mx-auto ">
          <div class="fdb-box fdb-touch ">
          <div class="row">
          	<div class="col-md-4">
          		  <img class="round-2p img-fluid" alt="image"  src="/images/characters/duchess.jpg" />
          	</div>
          	<div class="col-md-8 mt-3">
          		 <h4>DUCHESS</h4>
            
            <p>The overbearing and loud head of Quality Control who wants to make sure that her bread is buttered on the right side, whichever side that may be. As such, Alice isn’t quite sure if she can be trusted.</p>
            <!-- <h6>DUCHESSES IN REAL LIFE</h6>
            <p>ultimate manipulator and opportunist. Small scale leader but doesn’t have the goods to lead an entire organization.</p> -->
           
          	</div>
          </div>
           
          </div>
        </div>

       
       
      </div>
    </div>
  </section>
    </div><div class="carousel-item">
      <section class="fdb-block authors bg-gray-10">

    <div class="container">
       <!-- <h1 class="text-center">Authors</h1> -->
      <div class="row mt-5">
        <div class=" col-lg-8 col-md-12 mx-auto ">
          <div class="fdb-box fdb-touch ">
          <div class="row">
          	<div class="col-md-4">
          		  <img class="round-2p img-fluid" alt="image"  src="/images/characters/financedepartment.jpg" />
          	</div>
          	<div class="col-md-8 mt-3">
          		 <h4>THE FINANCE DEPARTMENT</h4>
            
            <p>This team is comprised of the Eaglet, the Dormouse, the Lory and others who have been left to their own devices far too long and are quick to place the blame for the problems within the company on anyone and everyone outside their department.</p>
            <!-- <h6>CHARACTERS LIKE THE FINANCE DEPARTMENT IN REAL LIFE</h6>
            <p>They can’t get out of their own way. They do their job the best they can, but don’t have the right information and haven’t told anyone what they would need to do a better job. They prefer to blame rather than to ask for what they really need.</p> -->
           
          	</div>
          </div>
           
          </div>
        </div>

       
       
      </div>
    </div>
  </section>
    </div><div class="carousel-item">
     <section class="fdb-block authors bg-gray-10">

    <div class="container">
       <!-- <h1 class="text-center">Authors</h1> -->
      <div class="row mt-5">
        <div class=" col-lg-8 col-md-12 mx-auto ">
          <div class="fdb-box fdb-touch ">
          <div class="row">
          	<div class="col-md-4">
          		  <img class="round-2p img-fluid" alt="image"  src="/images/characters/PUPPy.png" />
          	</div>
          	<div class="col-md-8 mt-3">
          		 <h4>PUPPY</h4>
            
            <p>The overgrown, exuberant mutt who “manages” manufacturing as though the department is a never-ending game of fetch. Because he has never received proper training, he creates huge messes that are masked by his employees with an excessive amount of red tape. Really, though, he wants to be helpful.</p>
            <!-- <h6>PUPPIES IN REAL LIFE</h6>
            <p>wields authority and gets results through intimidation because hasn’t received the training he needs to manage in a different way. Really not a bad guy though.</p> -->
           
          	</div>
          </div>
           
          </div>
        </div>

       
       
      </div>
    </div>
  </section>
    </div><div class="carousel-item">
      <section class="fdb-block authors bg-gray-10">

    <div class="container">
       <!-- <h1 class="text-center">Authors</h1> -->
      <div class="row mt-5">
        <div class=" col-lg-8 col-md-12 mx-auto ">
          <div class="fdb-box fdb-touch ">
          <div class="row">
          	<div class="col-md-4">
          		  <img class="round-2p img-fluid" alt="image"  src="/images/characters/financedepartment.jpg" />
          	</div>
          	<div class="col-md-8 mt-3">
          		 <h4>THE WOULD-BE LEGAL EAGLES</h4>
            
            <p>The Company’s legal department is comprised of Mock Turtle and Griffin. The only problem is that they can never get past the bar, The Aerie. Without the ability to pass the bar, the pair lack real authority. They spend their days waiting for someone to drop by to ask for their advice.</p>
            <!-- <h6>THE WOULD-BE LEGAL EAGLES IN REAL LIFE</h6>
            <p>heightened sense of self importance because of educational background, but don’t receive the respect and authority they feel they should because they don’t have the experience that would go with that authority. They can’t execute.</p> -->
           
          	</div>
          </div>
           
          </div>
        </div>

       
       
      </div>
    </div>
  </section>
    </div><div class="carousel-item">
      <section class="fdb-block authors bg-gray-10">

    <div class="container">
       <!-- <h1 class="text-center">Authors</h1> -->
      <div class="row mt-5">
        <div class=" col-lg-8 col-md-12 mx-auto ">
          <div class="fdb-box fdb-touch ">
          <div class="row">
          	<div class="col-md-4">
          		  <img class="round-2p img-fluid" alt="image"  src="/images/characters/rabbit.jpg" />
          	</div>
          	<div class="col-md-8 mt-3">
          		 <h4>WHITE RABBIT</h4>
            
            <p>This busy little bureaucrat is frightfully concerned with staying on schedule, keeping busy, and maintaining a nice, neat domain. Anyone, including Alice, who challenges his routine, is a threat. When errors are found, he is quick to point the finger at others.</p>
            <!-- <h6>WHITE RABBITS IN REAL LIFE</h6>
            <p>Hides behind his work to stay out of trouble. Stays busy but one is not sure what he’s doing. Very defensive when questioned or has his work reviewed. Cannot handle criticism even if it is offered constructively.</p> -->
           
          	</div>
          </div>
           
          </div>
        </div>

       
       
      </div>
    </div>
  </section>
    </div><div class="carousel-item">
      <section class="fdb-block authors bg-gray-10">

    <div class="container">
       <!-- <h1 class="text-center">Authors</h1> -->
      <div class="row mt-5">
        <div class=" col-lg-8 col-md-12 mx-auto ">
          <div class="fdb-box fdb-touch ">
          <div class="row">
          	<div class="col-md-4">
          		  <img class="round-2p img-fluid" alt="image"  src="/images/characters/magpie.jpg" />
          	</div>
          	<div class="col-md-8 mt-3">
          		 <h4>MAGPIE</h4>
            
            <p>The much maligned head of HR…whatever that is. Alice certainly doesn’t know who or what HR is, but it seems that everyone in the company has some reason to blame the state of affairs on that department. Thus, Alice, anxious to find someone besides herself who she can hold responsible, sets off to face the monster only to find rather than an enemy there’s a different kind of creature.</p>
            <!-- <h6>MAGPIES IN REAL LIFE</h6>
            <p>great at execution and likes to be respected for that. Very competent. Would like to initiate things to better the organization, but does not have the stature to immediately command or demand authority or respect. May be in over her head. Constantly gets dumped on.</p> -->
           
          	</div>
          </div>
           
          </div>
        </div>

       
       
      </div>
    </div>
  </section>
    </div><div class="carousel-item">
      <section class="fdb-block authors bg-gray-10">

    <div class="container">
       <!-- <h1 class="text-center">Authors</h1> -->
      <div class="row mt-5">
        <div class=" col-lg-8 col-md-12 mx-auto ">
          <div class="fdb-box fdb-touch ">
          <div class="row">
          	<div class="col-md-4">
          		  <img class="round-2p img-fluid" alt="image"  src="/images/characters/hatter.png" />
          	</div>
          	<div class="col-md-8 mt-3">
          		 <h4> HATTER</h4>
            
            <p>Is he mad or merely cunning? Either way he is a complicated character who may or may not be nefarious by nature. Hatter is the President, hired by Alice so that she would have more time to do as she pleases. Now, she discovers, he may not be looking out for the best interests of the company. </p>
            <!-- <h6>MAD HATTERS IN REAL LIFE</h6>
            <p>sly fox who likes collaboration in his schemes. He can navigate through a system once it is in place. While he can maintain a business or department, he is not entirely skilled at building or strengthening or launching. Not an initiator.</p> -->
           
          	</div>
          </div>
           
          </div>
        </div>

       
       
      </div>
    </div>
  </section>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <i class="fa fa-angle-left" aria-hidden="true"></i>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <i class="fa fa-angle-right" aria-hidden="true"></i>
    <span class="sr-only">Next</span>
  </a>
</div>
	</header>