  <section class="fdb-block">
    <div class="container">
      <div class="row">
        
         <div class="col-lg-6 col-md-6 wow zoomInLeft">
        <div class="row"> 
        <div class="col-5 text-center p-r-0 free"> 
         <h3>Want instant access to <span>FREE</span> worksheets!</h3>
        </div>
        <div class="col-2 text-center p-r-0 p-l-0 arrow"> 
          <img src="/images/200.gif" class="img-responsive img-fluid " alt="">
          <h6>click here</h6>
        </div>
        <div class="col-5 text-center p-l-0 "> 
        <div class=""> 
          <img src="/images/rabbit.svg" class="img-responsive img-fluid  hvr-grow" alt=""  data-toggle="modal" data-target="#exampleModalCenter">
        </div>
        </div>
        </div>
        </div>
        <div class="col-lg-6 col-md-6 wow zoomInRight">
        <div class="fdb-touch email">
          <h1>Want a Beaver or a Caterpillar to help you in your journey?</h1>
          <p>Write to us at <a class="text-spacing" href="mailto:Leadership.in.Wonderland@gmail.com?Subject=Hello" target="_top">Leadership.in.Wonderland@gmail.com</a></p>
          </div>
        </div>
      </div>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
   
      <div class="fdb-touch email">
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
          <h1>Get instant access to our FREE worksheets!</h1>
         
          
          <form name="submit-worksheet-to-google-sheet">
                 <div class="input-group mt-4">
                   
              <input name="email" type="email" id="email" class="form-control" placeholder="Your E-Mail..." required>
              <span class="input-group-btn">
                <button class="btn  btn-red btn-rounded" type="submit">Send my worksheet</button>
              </span>
              
            </div>
            </form>
          </div>
    </div>
  </div>
</div>
    </div>
  </section>


  <script>
  const worksheetScriptURL = 'https://script.google.com/macros/s/AKfycbwQ1mjjkqygBFMHmKqXYRxwJpP5arW2KMan_-FpR3jzVod3qn0/exec'
  const worksheetform = document.forms['submit-worksheet-to-google-sheet']

  worksheetform.addEventListener('submit', e => {
    e.preventDefault()
    swal({ title: "Thanks for downloading the free worksheet.", imageUrl: '/images/success.png', text: "Enrich your learning experience by working these simple questions. What would your answers be?. Download <u><a href='/LIW_fillable_forms.pdf' style='color:#4285f4' download>Here<a></u>", html: true });
    fetch(worksheetScriptURL, { method: 'POST', body: new FormData(worksheetform)})
      .then(response => console.log('Success!', response))
      .catch(error => console.error('Error!', error.message))
  })
</script>