<section class="fdb-block fdb-image-bg bg-gray-10 mt-5" >
    <div class="container">
      <div class="row text-left">
         <div class="col-12 col-md-8 col-lg-6 ml-sm-auto">
         <div class="text-center">
        <img class="img-fluid img-responsive wow fadeInRight" src="/images/firsthome.png" alt="" width="364" height="400">
        </div>
         <div class="row  wow fadeInLeft">
                  <div class="col-sm-4 col-md-2">
                    <img class="img-fluid" src="/images/press-quote-44x39.png" />
                  </div>
                  <div class="col-sm-8 col-md-10 st">
                   <h4 >Filled with smart examples of how to handle business dilemmas, office politics, and employer/employee issues.</h4>
                   <!-- <h5>- Debra Erder</h5> -->
                  </div>
                 </div>
          </div>
        <div class="col-12 col-md-8 col-lg-6 ml-sm-auto">
      
          <div class="fdb-box fdb-touch  wow fadeInUp">
            <div class="row justify-content-center">
              <div class="col-12 col-xl-12">
                   <h4 >I don't have the experience or education,
– How am I to lead? What if I fail?</h4>
              
               
                            <p class="text-dark ">The book that Business leaders, Entrepreneurs, Managers and Team Leaders have been talking about. 
                            </p>
                            <p class="text-dark ">Leadership In Wonderland is a simple, amusing story about a firm in trouble, and how Alice, its CEO, turns it around by being proactive. It is a light read, but with a very serious intent. Its  engaging workbook style encourages leaders to reflect on their experiences and prods them to actively think about solutions. </p><p  class="text-dark ">
This book can have a big impact on you, your teams, and your entire enterprise. Try it now.</p>
                            <div class="text-center">
                            <p class="m-t-35 "><a href="/workshops" class="title ">How can this book change my organisation?</a></p>
                            <a class="btn btn-md btn-default btn-text button-square " href="https://www.amazon.com/Leadership-Wonderland-Susan-Goldberg-ebook/dp/B01HFKT8WI/ref=sr_1_1?ie=UTF8&qid=1474457831&sr=8-1&keywords=leadership+in+wonderland" target="_blank" >I WANT TO BUY THE BOOK</a>
                            <a href="#download"><p><em>Read a sample chapter for free</em></p></a>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
       
    </div>
  </section>
