<section class="fdb-block pt-0 pb-0">
 <div class="container pb-5">
      <div class="row">
        <div class="col-lg-5 col-md-6 text-center  wow slideInLeft">
          <img class="img-fluid" src="/images/firsthome.png " alt=" " >
        </div>

    <div class="col-lg-7 col-md-6 fdb-box fdb-touch submit-form wow slideInRight" style="background-color: #151515; color:white">
       <div class=" mx-auto  pt-5">
          <h1>Experience Book’s First Pages for Free!</h1>
                <p >Susan and Rebecca have infused their experience and wisdom into this well structured, easy-to-follow book and this can be witnessed even while examining just few first pages.</p>

                 <div class="row video-review-quote">
                  <div class="col-sm-4 col-md-2">
                    <img class="img-fluid" src="/images/press-quote-44x39.png" />
                  </div>
                  <div class="col-sm-8 col-md-8">
                   <h4 >Enter your e-mail and get the 1st Chapter for Free</h4>
                  </div>
                 </div>
                 <div class="input-group mt-4">
              <input type="text" class="form-control" placeholder="Your E-Mail...">
              <span class="input-group-btn">
                <button class="btn btn-red" type="button">Submit</button>
              </span>
            </div>

        </div>
    </div>
 </div>
   
    </div>
  </section>


  <!-- <section class="fdb-block mt-7">
    <div class="col-fill-left " style="background-color: #151515;">
      <img class="img-fluid mt-7" src="/images/firsthome.png " alt=" " >
    </div>

    <div class="container">
      <div class="row justify-content-end">
        <div class="col-12 col-md-5 ">
            <h1>Experience Book’s First Pages for Free!</h1>
                <p >Susan and Rebecca have infused their experience and wisdom into this well structured, easy-to-follow book and this can be witnessed even while examining just few first pages.</p>

                 <div class="row video-review-quote">
                  <div class="col-sm-4 col-md-2">
                    <img class="img-fluid" src="/images/press-quote-44x39.png" />
                  </div>
                  <div class="col-sm-8 col-md-8">
                   <h4 >Enter your e-mail and get the 1st Chapter for Free</h4>
                  </div>
                 </div>
                 <div class="input-group mt-4">
              <input type="text" class="form-control" placeholder="Your E-Mail...">
              <span class="input-group-btn">
                <button class="btn btn-red" type="button">Submit</button>
              </span>
            </div>
        </div>
      </div>
    </div>
  </section>
 -->