<footer class="fdb-block footer-large bg-gray-10">
    <div class="container">
      <div class="row align-items-top text-center">
         <div class="col-12 col-md-4 col-lg-4 text-md-left mt-5 mt-md-0">
          <h4><strong>About Us</strong></h4>
          <p>An entertaining self discovery guide for anybody who wants to be more confident in their leadership abilities at work, as a student or as a volunteer. It is filled with personalities and situations common in the real world.</p>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 text-left">
         <h4><strong>Links</strong></h4>
<div class="row">
  <div class="col-6">
    
          <nav class="nav flex-column">
            <a class="nav-link active" href="/authors">Authors</a>
            <a class="nav-link" href="/characters">Characters</a>
            <a class="nav-link" href="/reviews">Reviews</a>
          </nav>
  </div>
  <div class="col-6">
          <nav class="nav flex-column">
            <a class="nav-link" href="/workshops">Workshops</a>
            <a class="nav-link" href="/blog">Blog</a>
          </nav>
  </div>
</div>
         
        </div>

       <!--  <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-5 mt-sm-0 text-sm-left">
          <h4><strong>Group 2</strong></h4>
          <nav class="nav flex-column">
            <a class="nav-link active" href="https://www.froala.com">Privacy Policy</a>
            <a class="nav-link" href="https://www.froala.com">Terms</a>
            <a class="nav-link" href="https://www.froala.com">FAQ</a>
            <a class="nav-link" href="https://www.froala.com">Support</a>
          </nav>
        </div> -->

       

        <div class="col-12 col-lg-4 ml-auto text-left mt-4 mt-lg-0">
          <h4><strong>Get in Touch</strong></h4>
                    <p>Write to us at <a class="text-spacing" href="mailto:Leadership.in.Wonderland@gmail.com?Subject=Hello" target="_top">Leadership.in.Wonderland@gmail.com</a></p>
          <p class="text-h3">
            <a href="https://www.facebook.com/LeadershipinWonderland/" target="_blank"><i class="fa fa-facebook fa-1x" aria-hidden="true"></i></a>&nbsp;&nbsp;
            <a href="https://twitter.com/LIWAlice" target="_blank"><i class="fa fa-twitter fa-1x" aria-hidden="true"></i></a>&nbsp;&nbsp;
            
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col text-center">
          © 2018 Leadership In Wonderland. Powered By <a href="https://www.gurujada.com" target="_blank">Gurujada</a>
        </div>
      </div>
    </div>
  </footer>
