<header class="bg-gray-10">
    <div class="container">
      <nav class="navbar navbar-expand-md bg-gray-10 fixed-top no-gutters ">
        <div class="col-9 col-md-5 text-left">
          <a href="/">
           <h4>Leadership IN Wonderland</h4>
          </a>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end col-12 col-md-7" id="navbarNav4">
          <ul class="navbar-nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link" href="/authors">Authors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/characters">Characters</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/reviews">Reviews</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/workshops">Workshops</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/blog">Blog</a>
            </li>
          </ul>
        </div>

        <ul class="navbar-nav col-12 col-md-2 justify-content-end d-none d-md-flex">
          <li class="nav-item">
            <a class="nav-link" href="https://www.facebook.com/LeadershipinWonderland/" target="_blank"><i class="fa fa-facebook"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://twitter.com/LIWAlice" target="_blank"><i class="fa fa-twitter"></i></a>
          </li>
         
        </ul>
      </nav>
    </div>
  </header>
