<section class="fdb-block fdb-viewport reviews  wow flipInX" style="background-image: url(/images/reviews.jpg);">

  <div class="container">
    <h2 class="text-center  wow fadeInUp"> Leaders are actually using this book, this is what they are saying.</h2>
    <div class="row">
      <div class="col-12 col-md-12">
        
        <div id="quote" class="carousel slide carousel-fade wow fadeInUp" data-ride="carousel" data-interval="5000">
          <div class="carousel-inner">
            <div class="carousel-item active">
                     <div class="">
                      <div class="row">
                  <div class="col-2 col-md-1">
                    <img class="img-fluid img-responsive" src="/images/press-quote-44x39.png" />
                  </div>
                  <div class="col-10 col-md-11">
                    <h3>From improving decision making and communication skills to becoming a better team leader, there are many takeaways that will enhance the reader's business (and life)skills - <span>Stephanie</span></h3>
                  </div>
                 </div>
             
</div>
            </div>
             <div class="carousel-item">
                     <div class="">
                         <div class="row">
                  <div class="col-2 col-md-1">
                    <img class="img-fluid img-responsive" src="/images/press-quote-44x39.png" />
                  </div>
                  <div class="col-10 col-md-11">
                    <h3>Reading the book opened up new ideas, it also increased my appreciation for my staff - <span>Lara</span></h3>
                  </div>
                 </div>

              
</div>
            </div>
            <div class="carousel-item">
              <div class="">
                   <div class="row">
                  <div class="col-2 col-md-1">
                    <img class="img-fluid img-responsive" src="/images/press-quote-44x39.png" />
                  </div>
                  <div class="col-10 col-md-11">
                    <h3>I am working with some young leaders and the lessons are so appropriate for this audience. - <span>XPNfan</span></h3>
                  </div>
                 </div>
               

              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <div class="container">
    <a class="float-right" href="/reviews"><p><em>Read All Testimonials</em></p></a>
  </div>
  
</section>