  <section class="fdb-block video">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h4>Susan Goldberg Talks To "Talking Alternative Broadcasting"</h4>
        </div>
      </div>
      <div class="row pt-4">
        <div class="col">
          <div align="center" class="video-container embed-responsive embed-responsive-16by9">
                    <iframe width="740" height="350" src="https://www.youtube.com/embed/0M3dfIro6hE" frameborder="0" allowfullscreen></iframe>
                </div>
        </div>
       
      </div>
    </div>
  </section>