
    <link rel="stylesheet" href="/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Black+And+White+Picture|Gloria+Hallelujah" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alice" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <link rel="stylesheet"
  href="/css/animate.min.css">
 <link href="/css/sweetalert.css" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/css/froala_blocks.css">