<!DOCTYPE html>
<html>
  <head>
    {{ partial "common/meta" . }}
    <title>Leadership In Wonderland</title>
    {{ partial "common/styles" }}
   
  </head>
  <body>
  
    {{ partial "header" }}
    {{ partial "firstfold" }}
   
    {{ partial "authors" }}
    {{ partial "testimonials" }}
    {{ partial "firstpages" }}
    <!-- {{ partial "videobroadcasting" }} -->
    <!-- {{ partial "downloadfillableforms" }} -->
    {{ partial "email" }}
    {{ partial "footer" }}
    {{ partial "common/scripts" }}
    {{ partial "ga" . }}
   
  </body>
</html>
